[Unit]
Description=Parity EnergyChain daemon

[Service]
WorkingDirectory=/energy/parity/
ExecStart=/bin/bash /energy/parity/run.sh

[Install]
WantedBy=multi-user.target
